* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 211, 105);
}

.calculator {
    width: 280px;
    margin: 80px auto;
    border-radius: 15px;
    
    -webkit-box-shadow: 0px 7px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 15px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 15px -1px rgba(0,0,0,0.75);
}

.calc-display {
    margin: 0;
    outline: 0;
    border: 2px solid #111111;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    width: 280px;
    height: 80px;
    background: #111111;
    color: #fff;
    position: relative;
}

.total {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 5px;
    padding-right: 15px;
    font-size: 40px;
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
}

.totalresult {
    background: #111111;
    width: 100%;
    color: #fff;
    font-size: 40px;
    font-family: 'Inconsolata', monospace;
    padding-left: 10px;
    text-align: right;
    height: auto;
}

.calc-btns {
    opacity: 0.8;  
}

button {    
    margin: 0;
    padding: 0;
    outline: none;
    box-shadow: none;
    width: 70px;
    height: 70px;
    float: left;
    font-size: 20px;
    letter-spacing: 1.1px;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
    border: 0.5px solid #555;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

button.signs {
    background-color: #D3D3D3;
}

button.operators {
    font-size: 28px;
    background-color: #6984ee; 
}

button#point {
    background-color: #E3E3E3 !important;
    font-size: 28px;
}

button#zero {
    width: 70px;
    border-bottom-left-radius: 15px;
}

button#equals {
    border-bottom-right-radius: 15px;
    font-size: 28px;
    background-color: #6984ee;
}

button#backspace {
    background-color: #E3E3E3 !important;
    font-size: 16px;
}